env/
__pycache__
chromedriver_win32.zip
chromedriver.exe
test.py
test2.py
automate.py
GtPassword.py
store.py
Vosk/
getMailPassword.py
receivers.py
Have A Good Day ! Jarvis Sound.mp3
STARTUP_SOUND.mp3